/Devi/config/bot.db
/Devi/config/bot_test.db
/Devi/config/.env
/migrate.py
/token.md

__pycache__/
*.py[cod]

/Devi/config/bg_BG-dimitar-medium.onnx
/Devi/config/bg_BG-dimitar-medium.onnx.json
/Devi/config/de_DE-thorsten-high.onnx
/Devi/config/de_DE-thorsten-high.onnx.json
/Devi/config/en_US-ryan-high.onnx
/Devi/config/en_US-ryan-high.onnx.json
/Devi/config/es_MX-ald-medium.onnx
/Devi/config/es_MX-ald-medium.onnx.json
/Devi/config/fi_FI-harri-medium.onnx
/Devi/config/fi_FI-harri-medium.onnx.json
/Devi/config/ru_RU-ruslan-medium.onnx
/Devi/config/ru_RU-ruslan-medium.onnx.json
/Devi/config/uk_UA-ukrainian_tts-medium.onnx
/Devi/config/uk_UA-ukrainian_tts-medium.onnx.json
/Devi/config/voices/bg_BG-dimitar-medium.onnx
/Devi/config/voices/bg_BG-dimitar-medium.onnx.json
/Devi/config/voices/de_DE-thorsten-high.onnx
/Devi/config/voices/de_DE-thorsten-high.onnx.json
/Devi/config/voices/en_US-ryan-high.onnx
/Devi/config/voices/en_US-ryan-high.onnx.json
/Devi/config/voices/es_MX-ald-medium.onnx
/Devi/config/voices/es_MX-ald-medium.onnx.json
/Devi/config/voices/fi_FI-harri-medium.onnx
/Devi/config/voices/fi_FI-harri-medium.onnx.json
/Devi/config/voices/ru_RU-ruslan-medium.onnx
/Devi/config/voices/ru_RU-ruslan-medium.onnx.json
/Devi/config/voices/uk_UA-ukrainian_tts-medium.onnx
/Devi/config/voices/uk_UA-ukrainian_tts-medium.onnx.json
